NEXT_PUBLIC_NEWS_API_KEY=8440e0e4d7ce4c8e87d7a354e250c72c
NEXT_PUBLIC_GUARDIAN_API_KEY=030709c4-3058-4f3f-8c01-c8718c6797dc
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ypqtdvgcwrjwcayrutmb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlwcXRkdmdjd3Jqd2NheXJ1dG1iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE3MTQ3MTQsImV4cCI6MjA5NzI5MDcxNH0.g36V2wlTlOBLGe9omQgvlgz4k-6tMF6bBTq3saFkMcw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlwcXRkdmdjd3Jqd2NheXJ1dG1iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTcxNDcxNCwiZXhwIjoyMDk3MjkwNzE0fQ.YHi-THIQYwgF8nazGj8qAMgnYEHPvBpiyI8WrjaFhhw

# Anthropic (for AI summaries)
ANTHROPIC_API_KEY=your_anthropic_key
